<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Blog</title>
  <link rel="stylesheet" href="/styles/main.css">
  <!-- <script src="https://unpkg.com/axios/dist/axios.min.js"></script> -->
</head>

<body>
  <div class="container">
    <h1> Your Pet Dogs Are Here</h1>
    
    <ul id="postsList">
      <% posts.forEach(post=> { %>
        <li>
          <h2>
           <a href="/Home"><%=post.title%></a>
          </h2>
          <br>
          <br>
          <small>
            <%=post.date %>
          </small>
          <p>
            <%=post.comment%>
          </p>
          <small>By: <%=post.author%> </small>
          <a class="edit" href="/edit/<%= post.id %>">Edit</a>
          <a class="delete" href="/api/posts/delete/<%= post.id %>">Delete</a>
        </li>
        <% }); %>
    </ul>
  </div>

</body>

</html>